/* COMMON */
body {
    font-family: Arial, sans-serif;
}
img {
    width: 100%;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.fa-angle-down {
    color: #a4a4a4;
}
/* HEADER */
header {
    font-family: Helvetica, sans-serif;
    position: fixed;
    width: 100%;
    height: 120px;
}
.header-top {
    background-color: black;
    height: 40px;
}
.header-bottom {
    height: 80px;
    background-color: white;
}
.logo-sony {
    line-height: 40px;
    float: right;
    width: 100px;
}
.burgher_menu {
    font-size: 30px;
    text-align: right;
    line-height: 80px;
}
.logo-play {
    display: inline-block;
    line-height: 80px;
    width: 60px;
}
header li {
    display: inline-block;
}
.menu-left {
    line-height: 80px;
}
.menu-right {
    text-align: right;
    line-height: 80px;
}
.btn-dark {
    background-color: #363636;
    border-radius: 20px;    
}
@media screen and (max-width: 992px) {
    .menu-right {
        display: none;
    }
}
/* MAIN */
/* FOOTER */